.profile-content {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
}
.profile-title {
  display: flex;
  align-items: center;
  color: aliceblue;
}
.profile-details-name {
  font-size: 24px;
  font-family: "Poppins Semibold";
}
.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}
.profile-details-role h1 {
  font-size: 40px;
  font-family: "Dancing Script", cursive;
}
.primary-text {
  color: (--white);
}
.Highlighted-text {
  color: var(--dark-orange);
}
.profile-role-line {
  font-size: 19px;
  margin: 5px 0 0 0;
  font-family: "Poppins light";
}
.profile-opts .highlighted-btn {
  margin: 0 0 0 28px;
}
.profile-opts .highlighted-btn:hover {
  margin: 0 0 0 28px;
  background-color: rgb(175, 181, 255);
  color: #111;
}
.profile-opts .primary-btn:hover {
  background-color: rgb(175, 181, 255);
  color: #111;
}
.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 0 var(--white);
  border-radius: 50%;
  height: 380px;
  width: 380px;
  margin: 0 0 0 100px;
}
.profile-picture-background {
  height: 92%;
  width: 92%;
  background-image: url(../../Tools/Home/ProfilePic.jpg);
  background-size: cover;
  border-radius: 50%;
  /* background-position: -30px -30px; */
  background-repeat: no-repeat;
  transition: 1s ease-in;
}
.profile-picture-background:hover {
  transform: scale(1.08);
  transition: 1s ease-out;
}
.profile-column .profile-column-icon i {
  color: white;
  padding: 8px;
  padding-left: 0px;
}
.profile-column .profile-column-icon i:hover {
  transform: scale(1.5);
}

/*optimisation de responsivity of the app*/

@media screen and (max-width: 1110px) {
  .profile-picture {
    margin: 0 0 0 80px;
  }
  .profile-details-name {
    font-size: 20px;
  }
  .profile-details-role .primary-text {
    font-size: 12px;
  }
  .profile-opts .btn {
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
}

@media screen and (max-width: 910px) {
  .profile-picture {
    height: 320px;
    width: 320px;
    margin: 0 0 0 4px;
  }
}

@media screen and (max-width: 810px) {
  .profile-picture {
    margin: 0 !important;
  }
  .profile-title {
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }
  .profile-opts {
    display: flex;
    justify-content: space-between;
  }
  .profile-details {
    margin: 25px 0 0 0;
  }
  .profile-opts .highlighted-btn {
    margin: 0 !important;
  }
  .profile-opts,
  .profile-details-role {
    text-align: center;
  }
}
@media screen and (max-width: 610px) {
  .profile-content {
    width: 100% !important;
  }
  .profile-title {
    width: 95% !important;
  }
}
